/* .container {
  max-width: 1300px; /* width of the containers
  margin: 0 auto;
  padding: 0 30px;
} */

/* HEADER */

.header-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  margin: 2em 0em;
}

h1 {
  font-family: 'american typewriter';
  font-size: 5em;
}

h1:hover{
  transition: 2s;
  color:red;
}

/* TOOLBAR */

.toolbar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0px;
}

.toolbar-button-container{
  margin: 10px 30px;
}

.toolbar-button{
  background-color: rgb(203, 160, 19);
  color:black;
  font-size: 2em;
  font-family: 'american typewriter';
  font-weight: bold;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  transition: transform 0.8s ease-in-out;
}

.toolbar-button:hover{
  transition: 0.4s;
  background-color: rgb(94, 203, 136);
  cursor: pointer;
  transform: scale(1.2);
}


/* HANGMAN */

.hangman-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 155px;
  border: None;
  margin: 20px auto;
}

.heart-icon {
  transition: transform 0.3s ease-in-out;
  width: 90px;
  height: 90px;
}

.heart-icon:hover{
  transform: scale(1.5) translate(0%,-40%);
}

#hangman-text-defeat{
  color: red;
  font-family: "american typewriter";
  font-weight: bold;
  font-size: 8em;
  margin: 0px;
}

#hangman-text-victory{
  color: rgb(94, 203, 136);
  font-family: "american typewriter";
  font-weight: bold;
  font-size: 8em;
  margin: 0px;
}


/* WORD PANEL */

.word-container{
  /* background-color: rgb(137, 203, 14); */
  color:black;
  margin: 20px;
}

.word-container .container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.word-letter{
  background-color: #eee;
  color:black;
  font-family: 'american typewriter';
  font-size: 5em;
  font-weight: bold;
  width: 90px;
  height: 90px;
  margin: 5px;
  text-align: center;
  line-height: 90px;
  border-radius: 25px;
  transition: transform 1s ease-in-out;
}


/* KEYBOARD */

.keyboard-container{
  /* background-color: rgb(199, 50, 179); */
  color:black;
}

.keyboard-container .container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: yellow; */
  margin-left:auto;
  margin-right:auto;
  height: 100%;
  width: 750px;
  padding : 10px;
}

.keyboard-letter{
  background-color: #666;
  color: white;
  font-family: 'american typewriter';
  font-size: 3em;
  border : none;
  width:70px;
  height: 70px;
  margin: 5px;
  text-align: center;
  border-radius: 15px;
  transition: transform 1s ease-in-out;
}

.keyboard-letter:hover{
  background-color: rgb(203, 160, 19);
  cursor: pointer;
}

.keyboard-letter:active{
  transition: 0s;
  transform: rotate(1turn);
  cursor:pointer;
}


/* RESIZE EFFECTS */

@media (max-width: 515px) {
  .toolbar-container{margin : 40px 0px 0px 0px}
  .toolbar-button{margin : 10px}
  h1{font-size: 4.5em}
  .heart-icon{height: 75px ; width: 75px}
}

@media (max-width: 750px) {
  .keyboard-container .container{width : 90%}
}


/* COPYRIGHT*/

#copyright{
  display: flex;
  justify-content: center;
}